<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.illidant.easykanzicapstone">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.screen.lesson.LessonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.screen.test.show_answer.AnswerTestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.screen.test.ResultTestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.screen.learn.flashcard.KanjiFlashcardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.screen.profile.test_history.TestHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.screen.test.TestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.screen.test.EntryTestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.screen.learn.multiple_choice.MultipleChoiceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.screen.learn.writing.WritingActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.screen.learn.flashcard.FlashcardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.screen.learn.LearnActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.screen.kanji.KanjiDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.screen.lesson.KanjiByLessonActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.screen.search.SearchActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.screen.ranking.RankingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.screen.profile.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".OnBoardingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.screen.home.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.screen.entry.EntryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.screen.signin.SigninActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.screen.signup.SignupActivity"
            android:screenOrientation="portrait"/> <!-- The below code is for android OS version below N -->
        <receiver
            android:name=".ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>